.button{
    padding: 5px 5px;
    margin: auto;
    width: 80px;
    height: 80px;
    background-color: white;
    color: black;
    border-radius: 50%;
    align-items: center;
}

.center p
{
    line-height: 1;
    margin: 0;
    align-items: center;
}

.syncIcon
{
    width: 60%;
    padding: 20px 0px;
}

.text-sync 
{
    border: 0;
    margin: 15px;
    text-align: center;
    background-color: #E5F5F8;
    color: darkslateblue;
    width: 300px;
}

.rotate_zero {
    transform: rotate(0deg);
    transition: transform 0.2s linear;
}

.rotate_minus180 {
    transform: rotate(-180deg);
    transition: transform 0.2s linear;    
}
